[Unit]
Description=CursusDB Cluster Service

[Service]
WorkingDirectory=/opt/cursusdb
ExecStart=/opt/cursusdb/cursus

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
